<app-navbar></app-navbar>
<div id="layoutSidenav">
  <app-sidebar></app-sidebar>
  <div id="layoutSidenav_content">
    <main>
      <div class="container-fluid">
          <router-outlet></router-outlet>
      </div>
    </main>
    <footer class="py-4 bg-light mt-auto">
      <div class="container-fluid">
          <div class="d-flex align-items-center justify-content-between small">
              <div class="text-muted">Copyright &copy; Let´s Code By Ada 2022</div>
              <div>
                  <a href="#">Privacy Policy</a>
                  &middot;
                  <a href="#">Terms &amp; Conditions</a>
              </div>
          </div>
      </div>
  </footer>
  </div>
</div>